body {
  padding-top: 50px;
  background:#FFF;
}
#calendar-container{
	background:#FFF;
	padding:15px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	border-top:3px solid #259D56;
	border-radius:5px;
}
.selectAuto{
	border-radius:none !important;
}
#navBarLeft{
	background:#20292D;
}
#navBarLeft::-webkit-scrollbar {
    width: 10px;
}
 
#navBarLeft::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#navBarLeft::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.navbar-fixed-top{
	background: #f5f5f5;
	border-bottom:2.5px solid #F9C530 !important;
}
.navbar-right li a { color:#565656 !important; font-family: 'Roboto Condensed', sans-serif;}
.navbar-right li a:hover { color:#000 !important; }

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
	background-color: #f3f3f3 !important;
}
/*----------------------*/
.sub-header {
  padding-bottom: 10px;
  
}
.multiselect{
	background: #FFF !important;
	border:1px solid #CCC !important;
}
.multiselect-container {
	width:350px !important;
}
.multiselect-container li a{
	padding-left:40px !important;
}
.btn-success{
	background:#008D4C !important;
}
.btn-warning {
	background:#F39C12 !important;
}
.btn-info{
	background:#00C0EF !important;
}
.btn-danger{
	background: #D73925 !important;
}
.btn-primary {
	background: #205081 !important;
}
.btn-cor2 {
	background: #263b4d !important; 
	border:1px solid #263b4d !important;
	color: white;
}
.btn-dash{
	background: #FFF;
	border:1px solid red;
	min-height:80px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.btn-dash .dash-head { padding:0px }
.btn-dash .dash-head i{
	font-size: 3em; color: Tomato;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	min-height: 80px;
	background-color: #1CBCEA;
	align-items: center;
	color:#fff;
	
}
.btn-dash .dash-body{
	padding:0px;
}
/*---------------------*/
.conteudo{
		-moz-background-size: cover !important; 
		-webkit-background-size: cover !important;
		-o-background-size: cover !important;   
		background-size: cover !important;
	}
	.btn-app{
		width:20%;
		height:22%;
		background:#fff;
	}
	.box-shadow{
		-webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
	}
	.header {
		cursor:pointer;
		color:#ccc;
	}
	.list-almo, .list-ss, .list-consulta, .list-gestor, .list-finan{
		display:none;
	}
	.msg1{
		border-top-left-radius:0px !important;
	}
	.msg2{
		width:320px;
		height:30px;
		text-align:center;
		display:none;
		padding-top:4px;
		font-weight:bold;
		border-top-right-radius:5px;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		background:#222D32;
		position:absolute;
		bottom:0px;
		right:50px;
	}
	@media print {  
	  @page {
		font-size:10px;
	  }
	}

.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
.nav-sidebar {
  width:100%;
  margin-top:10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:14px;
}
.button-header{
	padding:10px;
	border-bottom: 1px solid #7A7A7A;
}
.nav-sidebar > li{
	margin-left:10px;
}
.nav-sidebar > li > a {
  text-decoration:none;
  color:#F3F3F3;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #F3F3F3;
  background-color: #6B6B6B !important;
  border-right:4px solid #8e8e8e;
}
.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* ----------- TABELAS -------------- */
.table-dash-box{
	background:#FFF;
	padding:15px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	border-top:3px solid #3886B3;
	border-radius:5px;
}
.table-dash-box .table-dash tr {
	background-color: #FFF;
}
.table-dash-box .table-dash thead tr {

}
.table-dash-box .table-dash tr:nth-child(even) { background-color: #FAFAFA; }

/*------------- MEDIA --------------- */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media print {
	table tr td {
		border:1px solid #CCC;
	}
	.label{
		border:none !important;
	}
	.dataTable > thead > tr > th[class*="sort"]:after{
		content: "" !important;
	}
}